@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
  margin: 0;
  padding: 0;    
  box-sizing: border-box;
}
html, body, #root{
  height: 100%;
}
body{
  background: #e5e6e0;
  -webkit-font-smoothing: antialased;
}
body, input, button {
  font-family: Roboto, sans-serif;
}
.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in Internet Explorer 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}
